################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/BMP280_HAL/v16
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/STM32 Libraries/FileContentIndex/60a27a06-e05d-4c34-a2c0-edc688ad67ac.vsidx
.vs/STM32 Libraries/FileContentIndex/477be871-904b-482c-9f95-635eb29d2279.vsidx
.vs/STM32 Libraries/FileContentIndex/85b82186-4f59-4ac6-b90e-de831cacada5.vsidx
.vs/STM32 Libraries/FileContentIndex/c73363a6-fc07-4544-8ab5-6c9128af86aa.vsidx
.vs/STM32 Libraries/v17/.wsuo
.vs/STM32 Libraries/v17/Browse.VC.db
.vs/STM32 Libraries/v17/Browse.VC.db-shm
.vs/STM32 Libraries/v17/Browse.VC.db-wal
.vs/STM32 Libraries/v17/Browse.VC.opendb
.vs/STM32 Libraries/v17/ipch/AutoPCH/c236c3bf2125fb20/BME280_HAL.ipch
.vs/STM32 Libraries/v17/ipch/AutoPCH/d0eba953cf3eaa5a/BMP280_HAL.ipch
.vs/VSWorkspaceState.json
